:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --text-color: #333; 
  --header-padding: 30px;
  --footer-padding: 20px;
  --font-size-small: 14px;
  --background-color: #38c0ca;
}

html {
  scroll-behavior: smooth;
  height: 70%;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: .5px;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */

.nav_header {
  display: flex;
  justify-content: center; /* Espacio entre la imagen y los enlaces */
  align-items: center; /* Centrar verticalmente los elementos */
  padding: 10px 20px;
  background-color: var(--background-color); /* Fondo del nav */
  font-size: 20px;
}

/* Estilos para la imagen */
.logo {
  width: 150px; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin-right: 180px; /* Texto home, places, review */
  border-radius: 8px; /* Bordes redondeados */
}

.logo:hover {
  transform: scale(1.1); /* Agrandar ligeramente al pasar el mouse */
}

.nav-links a {
  margin-left: 15px; /* Espacio entre los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: var(--color-white); /* Color del texto de los enlaces */
  font-weight: bold; /* Negrita para el texto de los enlaces */
  transition: color 0.3s ease; /* Animación suave */
  text-align: center;
}

.nav-links a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.login-button, .logout-button {
  margin-left: auto; /* Empuja el botón de login hacia la derecha */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: var(--color-white); /* Color del texto del enlace */
  font-weight: bold; /* Negrita para el texto del enlace */
  transition: transform 0.3s ease, color 0.3s ease; /* Animación suave */
}

.login-button:hover, .logout-button:hover {
  transform: scale(1.1);
  color: var(--color-primary);
}

/* Places */

.place-image-large {
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s ease; /* Animación suave */
}

.place-info {
  width: 50%;
}

.place-info h1 {
  font-size: 2em;
  margin-top: 0;
}

/* Place index */

.available-places {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

#places-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 30px;
}

.place-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Animación suave */
  flex-direction: column;
  position: relative;
}

.place-card-content {
  flex: 1;
  padding: 16px;
}

.place-card:hover {
  transform: translateY(-5px); /* Mover ligeramente hacia arriba al pasar el mouse */
}

.place-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s ease; /* Animación suave */
}

.place-card img:hover {
  transform: scale(1.05); /* Agrandar ligeramente al pasar el mouse */
}

.details-button {
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease; /* Animación suave */
  position: bottom;
}

.details-button:hover {
  background-color: var(--color-primary); /* Un color más oscuro para el hover */
}

/* filter/index */

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.filter-label {
  margin-right: 10px;
  font-weight: bold;
  color: var(--text-color);
}

.filter-select {
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1rem;
  color: var(--text-color);
  transition: border-color 0.3s ease; /* Animación suave */
}

.filter-select:focus {
  outline: none;
  border-color: var(--color-primary);
}

/* Login/Logout */

.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  text-align: center;
  color: var(--color-black);
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 15px;
  background-color: var(--background-color);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
  transition: background-color 0.3s ease; /* Animación suave */
}

.login-form button:hover {
  background-color: var(--color-primary);
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forgot-password, .sign-up {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 0.9em;
}

.forgot-password:hover, .sign-up:hover {
  text-decoration: underline;
}

/* Footer */
main {
  padding-bottom: 60px; /*para que no se trebe el fotter con el main*/
}

footer {
  background-color: var(--background-color);
  color: var(--color-white);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--color-white);
}

/* Review */

.card-review, .review-form {
  text-align: center;
}

.card-review .card-avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.card-review .card-quote cite {
  display: block;
  padding-top: 1rem;
  color: var(--color-primary);
}

.card-review .card-quote {
  position: relative;
}

.card-review .card-quote::before {
  position: absolute;
  top: -4.5rem;
  left: -1rem;
  color: #efeded;
  font-size: 10rem;
  z-index: -1;
}

.review-list {
  padding: 20px;
}

.add-review {
  text-align: center;
  margin-top: 20px;
}

/* Places */

/* Place Details - Card Style for Selected Image */
.selected-place-image {
  width: 90%; /* Ajusta el ancho de la imagen al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la imagen */
  margin-bottom: 25px; /* Espacio debajo de la imagen */
}

.place-details p {
  margin: 5px 0; /* Margen vertical entre las líneas de descripción */
  font-size: 16px; /* Tamaño de fuente para el texto de descripción */
}

.place-details {
  flex-wrap: wrap; /* Para hacer que el contenido se ajuste en pantallas pequeñas */
  padding: 20px;
  text-align: center;
}

.place-image-large {
  width: 5%;
  max-width: 10px; /* Limitar el ancho máximo de la imagen */
  height: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.place-info {
  width: 50%;
  max-width: 100px; /* Limitar el ancho máximo de la información del lugar */
  text-align: center; /* Centrar el texto */
}

.place-info h2 {
  font-size: 2em;
  margin-top: 0;
}

/* Review List */
.review-list {
  padding: 20px;
}

.review-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 25px;
}

.review-card p {
  margin: 5px;
}

/* Añadir un margen superior a las secciones */
.section {
  margin-top: 10px;
}

/* Añadir estilos a las secciones de encabezado */
.section-header {
  text-align: center;
  margin-bottom: 20px;
}

.section-title {
  font-size: 2em;
  color: var(--color-black);
}

.section-tagline {
  font-size: 1.2em;
  color: var(--color-primary);
}

/* Añadir estilos a los formularios */
.add-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin: 25px;
}

.add-review label {
  margin: 10px 0 5px;
}

.add-review textarea, .add-review select, .add-review input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-review button {
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 25px;
}

.add-review button:hover {
  background-color: var(--color-primary);
}

/* Review from */

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Alinear el texto a la izquierda */
  margin: 25px;
}

.review-form label {
  margin: 10px 0 5px;
  width: 100%;
}

.review-form textarea, .review-form select, .review-form input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.review-form button {
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 25px;
}

.review-form button:hover {
  background-color: var(--color-primary);
}

.warning-message {
  color: var(--color-primary); /* Color del texto de advertencia */
  font-weight: bold; /* Texto en negrita */
  margin-top: 20px; /* Espacio superior */
}